<h1>Scraped Jobs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Charity</th>
      <th>Min Salary</th>
      <th>Max Salary</th>
      <th>Closing Date</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job.url %></td>
        <td><%= job.charity %></td>
        <td><%= job.min_salary %></td>
        <td><%= job.max_salary %></td>
        <td><%= job.closes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Next Page", scrape_jobs_path(keyword: @keyword, page_no: @page_no + 1) %>
<%= link_to 'Back', root_path %>
